.BookContainer{
    display: flex;
    margin-top: 70px;
    justify-content: center;
    

}
.Image{
     margin-right: 120px;  
    /* border: black 2px solid; */
    /* background-color: blanchedalmond; */
    justify-content: center;
}
.BorderAbout{
    margin-top: 200px;    
    text-align: left;

}