.container{
    background-color: black;
    color: white;
    
}
.search{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    
}
select{
    width: 100px;
    height: 30px;
    text-align: center;
    margin: 5px 5px 5px 5px;
}